.Satellite {
    border-radius: 4px;
    margin: 12px -12px;
    padding: 12px;
    background: rgba(255,255,255,.1);
    h4 {
        font-weight: 600;
        font-size: 15px;
        margin-bottom: 8px;
    }
    p {
        font-size: 13px;
    }
}